// app global css in SCSS form
.q-drawer, .q-page {
  background: linear-gradient(120deg, rgb(226, 207, 129), rgb(232, 139, 97));
  font-family: sans-serif;
  min-height: 100vh;
  color: #fff;
}
.q-date__view {
  background: tan;
}
.q-time__container-parent {
  background: antiquewhite;
}
.items-start {
  justify-content: center;
}
